<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
        <property name="hibernate.connection.password">123654</property>
        <property name="hibernate.connection.release_mode">auto</property>
        <property name="hibernate.connection.url">jdbc:firebirdsql:localhost/3050:/opt/firebird/dados/desenv/freedom25.fdb?lc_ctype=ISO8859_1</property>
        <property name="hibernate.connection.username">sysdba</property>
        <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
        <property name="hibernate.ejb.discard_pc_on_close">false</property>
        <property name="hibernate.query.jpaql_strict_compliance">true</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.engine.transaction.internal.jdbc.JdbcTransactionFactory</property>
        <property name="hibernate.transaction.flush_before_completion">false</property>
        <property name="hibernate.use_identifier_rollback">false</property>
        <mapping class="org.freedom.persist.entity.Sgobjetotb" />
        <mapping class="org.freedom.persist.entity.Vdmodcontr" />
        <mapping class="org.freedom.persist.entity.Rhnivelcurso" />
        <mapping class="org.freedom.persist.entity.Vwcustoproj01" />
        <mapping class="org.freedom.persist.entity.Tkctogrpint" />
        <mapping class="org.freedom.persist.entity.Eqlanctoexp" />
        <mapping class="org.freedom.persist.entity.Ppopitorc" />
        <mapping class="org.freedom.persist.entity.Sggatilho" />
        <mapping class="org.freedom.persist.entity.Atmodatendo" />
        <mapping class="org.freedom.persist.entity.Atatendimentoitrec" />
        <mapping class="org.freedom.persist.entity.Sgmenu" />
        <mapping class="org.freedom.persist.entity.Fnmovimento" />
        <mapping class="org.freedom.persist.entity.Cpitsolitsol" />
        <mapping class="org.freedom.persist.entity.Ppopentrada" />
        <mapping class="org.freedom.persist.entity.Pvcaixa" />
        <mapping class="org.freedom.persist.entity.Vdetiqcli" />
        <mapping class="org.freedom.persist.entity.Tkcampanha" />
        <mapping class="org.freedom.persist.entity.Sgacessomg" />
        <mapping class="org.freedom.persist.entity.Sgacessomu" />
        <mapping class="org.freedom.persist.entity.Lfregrafiscal" />
        <mapping class="org.freedom.persist.entity.Fncontausu" />
        <mapping class="org.freedom.persist.entity.Crambienteaval" />
        <mapping class="org.freedom.persist.entity.Sgmunicipio" />
        <mapping class="org.freedom.persist.entity.Eqprodplan" />
        <mapping class="org.freedom.persist.entity.Fnreceber" />
        <mapping class="org.freedom.persist.entity.Fnitbordero" />
        <mapping class="org.freedom.persist.entity.Eqitrecmercitos" />
        <mapping class="org.freedom.persist.entity.Vditcontratofor" />
        <mapping class="org.freedom.persist.entity.Crmotivofb" />
        <mapping class="org.freedom.persist.entity.Svitos" />
        <mapping class="org.freedom.persist.entity.Fnitrenegrec" />
        <mapping class="org.freedom.persist.entity.Lfcalccusto" />
        <mapping class="org.freedom.persist.entity.Attipoatend" />
        <mapping class="org.freedom.persist.entity.Vdcliente" />
        <mapping class="org.freedom.persist.entity.Eqexpedicao" />
        <mapping class="org.freedom.persist.entity.Fntbjuros" />
        <mapping class="org.freedom.persist.entity.Rhempregador" />
        <mapping class="org.freedom.persist.entity.Cpprodfor" />
        <mapping class="org.freedom.persist.entity.SgsquidHier" />
        <mapping class="org.freedom.persist.entity.Fnmoeda" />
        <mapping class="org.freedom.persist.entity.Lftrattrib" />
        <mapping class="org.freedom.persist.entity.Vdclcomis" />
        <mapping class="org.freedom.persist.entity.Cptipofor" />
        <mapping class="org.freedom.persist.entity.Fntalaocheq" />
        <mapping class="org.freedom.persist.entity.Cpordcompra" />
        <mapping class="org.freedom.persist.entity.Lfseqserie" />
        <mapping class="org.freedom.persist.entity.Sgestacaobal" />
        <mapping class="org.freedom.persist.entity.Tkconfemail" />
        <mapping class="org.freedom.persist.entity.Vdconsignacao" />
        <mapping class="org.freedom.persist.entity.Eqprodutolog" />
        <mapping class="org.freedom.persist.entity.Vdcliterra" />
        <mapping class="org.freedom.persist.entity.Fntiporestr" />
        <mapping class="org.freedom.persist.entity.Sgpapel" />
        <mapping class="org.freedom.persist.entity.Vditcontratoand" />
        <mapping class="org.freedom.persist.entity.Ppopcq" />
        <mapping class="org.freedom.persist.entity.Sgpais" />
        <mapping class="org.freedom.persist.entity.Vditromaneio" />
        <mapping class="org.freedom.persist.entity.Ppitretcp" />
        <mapping class="org.freedom.persist.entity.Lfnbm" />
        <mapping class="org.freedom.persist.entity.Rhcandidatocurso" />
        <mapping class="org.freedom.persist.entity.Mgproduto" />
        <mapping class="org.freedom.persist.entity.Rhempregadobenef" />
        <mapping class="org.freedom.persist.entity.Sgusuario" />
        <mapping class="org.freedom.persist.entity.Pvseqmovcaixa" />
        <mapping class="org.freedom.persist.entity.Vdstatusorc" />
        <mapping class="org.freedom.persist.entity.Vdvenda" />
        <mapping class="org.freedom.persist.entity.Eqprevestoqlog" />
        <mapping class="org.freedom.persist.entity.Crpessoa" />
        <mapping class="org.freedom.persist.entity.Eqitexpedicao" />
        <mapping class="org.freedom.persist.entity.Eqitrecmerc" />
        <mapping class="org.freedom.persist.entity.Lfncm" />
        <mapping class="org.freedom.persist.entity.Lfitnatoper" />
        <mapping class="org.freedom.persist.entity.Equnidade" />
        <mapping class="org.freedom.persist.entity.Eqsaldoprod" />
        <mapping class="org.freedom.persist.entity.Sglog" />
        <mapping class="org.freedom.persist.entity.Vdcliimov" />
        <mapping class="org.freedom.persist.entity.Sggrpusu" />
        <mapping class="org.freedom.persist.entity.Vdromaneio" />
        <mapping class="org.freedom.persist.entity.Vdtef" />
        <mapping class="org.freedom.persist.entity.Sgitfluxo" />
        <mapping class="org.freedom.persist.entity.Atconvatribtb" />
        <mapping class="org.freedom.persist.entity.Crmarcador" />
        <mapping class="org.freedom.persist.entity.Sgmodulo" />
        <mapping class="org.freedom.persist.entity.Atespecatend" />
        <mapping class="org.freedom.persist.entity.Eqtiporecmerc" />
        <mapping class="org.freedom.persist.entity.Vdcontratovw01" />
        <mapping class="org.freedom.persist.entity.Fnsaldolanca" />
        <mapping class="org.freedom.persist.entity.Rhexpediente" />
        <mapping class="org.freedom.persist.entity.Rhcandidato" />
        <mapping class="org.freedom.persist.entity.Fnpagar" />
        <mapping class="org.freedom.persist.entity.Fnitfbncodret" />
        <mapping class="org.freedom.persist.entity.Tkcontcli" />
        <mapping class="org.freedom.persist.entity.Vditdetorc" />
        <mapping class="org.freedom.persist.entity.Lflivrofiscal" />
        <mapping class="org.freedom.persist.entity.Fnitpagar" />
        <mapping class="org.freedom.persist.entity.Vdfincontr" />
        <mapping class="org.freedom.persist.entity.Eqrma" />
        <mapping class="org.freedom.persist.entity.Sgtarefa" />
        <mapping class="org.freedom.persist.entity.Pptiporec" />
        <mapping class="org.freedom.persist.entity.Tkatividade" />
        <mapping class="org.freedom.persist.entity.Fncheque" />
        <mapping class="org.freedom.persist.entity.Lfitclfiscal" />
        <mapping class="org.freedom.persist.entity.Lfitcalccusto" />
        <mapping class="org.freedom.persist.entity.Tkcampanhaemail" />
        <mapping class="org.freedom.persist.entity.Vdtipovend" />
        <mapping class="org.freedom.persist.entity.Sgproxyweb" />
        <mapping class="org.freedom.persist.entity.Sgatribuicao" />
        <mapping class="org.freedom.persist.entity.Rhturno" />
        <mapping class="org.freedom.persist.entity.Tktipoimp" />
        <mapping class="org.freedom.persist.entity.Cpcomprasol" />
        <mapping class="org.freedom.persist.entity.Sgsistema" />
        <mapping class="org.freedom.persist.entity.Eqlocdescarga" />
        <mapping class="org.freedom.persist.entity.Vdorcamento" />
        <mapping class="org.freedom.persist.entity.Atconveniado" />
        <mapping class="org.freedom.persist.entity.Ppopsubprod" />
        <mapping class="org.freedom.persist.entity.Tkorigcont" />
        <mapping class="org.freedom.persist.entity.Atatendimento" />
        <mapping class="org.freedom.persist.entity.Pebatidalog" />
        <mapping class="org.freedom.persist.entity.Sgatribusu" />
        <mapping class="org.freedom.persist.entity.Eqalmox" />
        <mapping class="org.freedom.persist.entity.Pprecurso" />
        <mapping class="org.freedom.persist.entity.Sgdebug" />
        <mapping class="org.freedom.persist.entity.Eqprocexped" />
        <mapping class="org.freedom.persist.entity.Sgacessoeu" />
        <mapping class="org.freedom.persist.entity.Sgconexao" />
        <mapping class="org.freedom.persist.entity.Ppestruanalise" />
        <mapping class="org.freedom.persist.entity.Atatendente" />
        <mapping class="org.freedom.persist.entity.Ppop" />
        <mapping class="org.freedom.persist.entity.Vwtmpcustoitrma" />
        <mapping class="org.freedom.persist.entity.Lftabicms" />
        <mapping class="org.freedom.persist.entity.Eqexpedamostragem" />
        <mapping class="org.freedom.persist.entity.Cpitsumsol" />
        <mapping class="org.freedom.persist.entity.Vdsetor" />
        <mapping class="org.freedom.persist.entity.Vdcliveic" />
        <mapping class="org.freedom.persist.entity.Vdcomissao" />
        <mapping class="org.freedom.persist.entity.Crtarefa" />
        <mapping class="org.freedom.persist.entity.Rhvagacandidato" />
        <mapping class="org.freedom.persist.entity.Sgimpressora" />
        <mapping class="org.freedom.persist.entity.Vditregracomis" />
        <mapping class="org.freedom.persist.entity.Fnfluxocaixavw01" />
        <mapping class="org.freedom.persist.entity.Sgittabela" />
        <mapping class="org.freedom.persist.entity.Rhcaracteristica" />
        <mapping class="org.freedom.persist.entity.Crfeedback" />
        <mapping class="org.freedom.persist.entity.Atatendoagenda" />
        <mapping class="org.freedom.persist.entity.Eqprodacesso" />
        <mapping class="org.freedom.persist.entity.Eqproduto" />
        <mapping class="org.freedom.persist.entity.Vdcontrorc" />
        <mapping class="org.freedom.persist.entity.Cpitordcompra" />
        <mapping class="org.freedom.persist.entity.Fntipocob" />
        <mapping class="org.freedom.persist.entity.Fnfbnrec" />
        <mapping class="org.freedom.persist.entity.Sgvariavel" />
        <mapping class="org.freedom.persist.entity.Eqconfestoqvw01" />
        <mapping class="org.freedom.persist.entity.Tktipocont" />
        <mapping class="org.freedom.persist.entity.Vdvendaconsig" />
        <mapping class="org.freedom.persist.entity.Sgcnae" />
        <mapping class="org.freedom.persist.entity.Vdprazoent" />
        <mapping class="org.freedom.persist.entity.Vdlogsitcontr" />
        <mapping class="org.freedom.persist.entity.Cpsumsol" />
        <mapping class="org.freedom.persist.entity.GttRecursivo" />
        <mapping class="org.freedom.persist.entity.Sgbairro" />
        <mapping class="org.freedom.persist.entity.Sgeqvclifor" />
        <mapping class="org.freedom.persist.entity.Ppmetodoanalise" />
        <mapping class="org.freedom.persist.entity.Fnconta" />
        <mapping class="org.freedom.persist.entity.Cpforneced" />
        <mapping class="org.freedom.persist.entity.Vditvendaitvenda" />
        <mapping class="org.freedom.persist.entity.Pvmovcaixa" />
        <mapping class="org.freedom.persist.entity.Vdcliautp" />
        <mapping class="org.freedom.persist.entity.Eqsimilar" />
        <mapping class="org.freedom.persist.entity.Eqmodlote" />
        <mapping class="org.freedom.persist.entity.Vdvendaorc" />
        <mapping class="org.freedom.persist.entity.Crfichaorc" />
        <mapping class="org.freedom.persist.entity.Eqittrocarplog" />
        <mapping class="org.freedom.persist.entity.Rhvagacaracquali" />
        <mapping class="org.freedom.persist.entity.Sgfluxo" />
        <mapping class="org.freedom.persist.entity.Eqserie" />
        <mapping class="org.freedom.persist.entity.Rhexpedmes" />
        <mapping class="org.freedom.persist.entity.Svexecucao" />
        <mapping class="org.freedom.persist.entity.Rhvagacurso" />
        <mapping class="org.freedom.persist.entity.Eqtipoexp" />
        <mapping class="org.freedom.persist.entity.Vdclirefp" />
        <mapping class="org.freedom.persist.entity.Atatendimentovw08" />
        <mapping class="org.freedom.persist.entity.Atatendimentovw07" />
        <mapping class="org.freedom.persist.entity.Atatendimentovw06" />
        <mapping class="org.freedom.persist.entity.Atatendimentovw05" />
        <mapping class="org.freedom.persist.entity.Atconvatrib" />
        <mapping class="org.freedom.persist.entity.Eqguiatraf" />
        <mapping class="org.freedom.persist.entity.Atatendimentovw04" />
        <mapping class="org.freedom.persist.entity.Atatendimentovw03" />
        <mapping class="org.freedom.persist.entity.Atatendimentovw02" />
        <mapping class="org.freedom.persist.entity.Atatendimentovw01" />
        <mapping class="org.freedom.persist.entity.Fnitreceber" />
        <mapping class="org.freedom.persist.entity.Tksetorcto" />
        <mapping class="org.freedom.persist.entity.Vdclirefc" />
        <mapping class="org.freedom.persist.entity.Lfservico" />
        <mapping class="org.freedom.persist.entity.Sgmenuobj" />
        <mapping class="org.freedom.persist.entity.Sgestacaoimp" />
        <mapping class="org.freedom.persist.entity.Rhcandidatocarac" />
        <mapping class="org.freedom.persist.entity.Vdclientefor" />
        <mapping class="org.freedom.persist.entity.Sgagente" />
        <mapping class="org.freedom.persist.entity.VwprodPrecoCusto" />
        <mapping class="org.freedom.persist.entity.Eqclifor" />
        <mapping class="org.freedom.persist.entity.Pvsequencia" />
        <mapping class="org.freedom.persist.entity.Vdgruporc" />
        <mapping class="org.freedom.persist.entity.Vdremconsig" />
        <mapping class="org.freedom.persist.entity.Cpequivcfop" />
        <mapping class="org.freedom.persist.entity.Eqitrecmercserie" />
        <mapping class="org.freedom.persist.entity.Fncartcob" />
        <mapping class="org.freedom.persist.entity.Vdobscli" />
        <mapping class="org.freedom.persist.entity.Lffrete" />
        <mapping class="org.freedom.persist.entity.Vdsetorrota" />
        <mapping class="org.freedom.persist.entity.Crchamado" />
        <mapping class="org.freedom.persist.entity.Cpcompralcchave" />
        <mapping class="org.freedom.persist.entity.Fnhistpad" />
        <mapping class="org.freedom.persist.entity.Vdclascli" />
        <mapping class="org.freedom.persist.entity.Cpitimportacao" />
        <mapping class="org.freedom.persist.entity.Cpitcompra" />
        <mapping class="org.freedom.persist.entity.Attipoatendosetor" />
        <mapping class="org.freedom.persist.entity.Cpsolicitacao" />
        <mapping class="org.freedom.persist.entity.Rhdepto" />
        <mapping class="org.freedom.persist.entity.Crmotivoaval" />
        <mapping class="org.freedom.persist.entity.Vdtabpreco" />
        <mapping class="org.freedom.persist.entity.Vditcustovenda" />
        <mapping class="org.freedom.persist.entity.Eqitsimilar" />
        <mapping class="org.freedom.persist.entity.Atsetoratendente" />
        <mapping class="org.freedom.persist.entity.Ppopacaocorret" />
        <mapping class="org.freedom.persist.entity.Ppestrutura" />
        <mapping class="org.freedom.persist.entity.Vdvendaentrega" />
        <mapping class="org.freedom.persist.entity.Vditvenda" />
        <mapping class="org.freedom.persist.entity.Vdcontrato" />
        <mapping class="org.freedom.persist.entity.Cptabfor" />
        <mapping class="org.freedom.persist.entity.Vditcustoorc" />
        <mapping class="org.freedom.persist.entity.Rhempregadosal" />
        <mapping class="org.freedom.persist.entity.Vdtipocli" />
        <mapping class="org.freedom.persist.entity.Tkhistorico" />
        <mapping class="org.freedom.persist.entity.Rhvaga" />
        <mapping class="org.freedom.persist.entity.Sgimagem" />
        <mapping class="org.freedom.persist.entity.Rharea" />
        <mapping class="org.freedom.persist.entity.Ppprocessaoptmp" />
        <mapping class="org.freedom.persist.entity.Eqtipomov" />
        <mapping class="org.freedom.persist.entity.Rhempregado" />
        <mapping class="org.freedom.persist.entity.Rhvagacaracrest" />
        <mapping class="org.freedom.persist.entity.Necontingencia" />
        <mapping class="org.freedom.persist.entity.Vdauxvenda" />
        <mapping class="org.freedom.persist.entity.Eqitrecmercitcp" />
        <mapping class="org.freedom.persist.entity.Crchamadoanexo" />
        <mapping class="org.freedom.persist.entity.Tkcontato" />
        <mapping class="org.freedom.persist.entity.Vdvendacomis" />
        <mapping class="org.freedom.persist.entity.SgsquidLog" />
        <mapping class="org.freedom.persist.entity.Rhcandidatostatus" />
        <mapping class="org.freedom.persist.entity.Attipoconv" />
        <mapping class="org.freedom.persist.entity.Vditvendaserie" />
        <mapping class="org.freedom.persist.entity.Fncc" />
        <mapping class="org.freedom.persist.entity.Vditkit" />
        <mapping class="org.freedom.persist.entity.Sgtipoagenda" />
        <mapping class="org.freedom.persist.entity.Cpcompra" />
        <mapping class="org.freedom.persist.entity.Sglogcrud" />
        <mapping class="org.freedom.persist.entity.Eqmovprod" />
        <mapping class="org.freedom.persist.entity.Atclasatendo" />
        <mapping class="org.freedom.persist.entity.Sgitprefere6" />
        <mapping class="org.freedom.persist.entity.Cpitordcomprape" />
        <mapping class="org.freedom.persist.entity.Lfmoddocfisc" />
        <mapping class="org.freedom.persist.entity.Atsetor" />
        <mapping class="org.freedom.persist.entity.Lffretevenda" />
        <mapping class="org.freedom.persist.entity.Pvcaixaimp" />
        <mapping class="org.freedom.persist.entity.Pvleiturax" />
        <mapping class="org.freedom.persist.entity.Attipoatendo" />
        <mapping class="org.freedom.persist.entity.Sgmodetiqueta" />
        <mapping class="org.freedom.persist.entity.Lfitregrafiscal" />
        <mapping class="org.freedom.persist.entity.Pebatida" />
        <mapping class="org.freedom.persist.entity.Lfserie" />
        <mapping class="org.freedom.persist.entity.Rhponto" />
        <mapping class="org.freedom.persist.entity.Vdprecoprod" />
        <mapping class="org.freedom.persist.entity.Cbcontaext" />
        <mapping class="org.freedom.persist.entity.Cpcompravenda" />
        <mapping class="org.freedom.persist.entity.Fnrestricao" />
        <mapping class="org.freedom.persist.entity.Sgempresa" />
        <mapping class="org.freedom.persist.entity.Fnpagcheq" />
        <mapping class="org.freedom.persist.entity.Sgestcivil" />
        <mapping class="org.freedom.persist.entity.Vdmotorista" />
        <mapping class="org.freedom.persist.entity.Fnplanopag" />
        <mapping class="org.freedom.persist.entity.Tkcampanhacli" />
        <mapping class="org.freedom.persist.entity.Cpimportacaoadic" />
        <mapping class="org.freedom.persist.entity.Lfmodnota" />
        <mapping class="org.freedom.persist.entity.Vddetorc" />
        <mapping class="org.freedom.persist.entity.Sgfilial" />
        <mapping class="org.freedom.persist.entity.Eqsaldolote" />
        <mapping class="org.freedom.persist.entity.Rhcandidatofunc" />
        <mapping class="org.freedom.persist.entity.Fnfbncodret" />
        <mapping class="org.freedom.persist.entity.Rhtabelainss" />
        <mapping class="org.freedom.persist.entity.Rhvagastatus" />
        <mapping class="org.freedom.persist.entity.Sgtabela" />
        <mapping class="org.freedom.persist.entity.Cpimportacao" />
        <mapping class="org.freedom.persist.entity.Rhtabelairrf" />
        <mapping class="org.freedom.persist.entity.Vdveiculo" />
        <mapping class="org.freedom.persist.entity.Cpitcompraitcompra" />
        <mapping class="org.freedom.persist.entity.Lfmensagem" />
        <mapping class="org.freedom.persist.entity.Vdvendedor" />
        <mapping class="org.freedom.persist.entity.Fnsublanca" />
        <mapping class="org.freedom.persist.entity.Eqmarca" />
        <mapping class="org.freedom.persist.entity.Vditvendavditcontr" />
        <mapping class="org.freedom.persist.entity.Eqtipomovusu" />
        <mapping class="org.freedom.persist.entity.Tkemail" />
        <mapping class="org.freedom.persist.entity.Cpimportacaocompl" />
        <mapping class="org.freedom.persist.entity.Rhcurso" />
        <mapping class="org.freedom.persist.entity.Ppfase" />
        <mapping class="org.freedom.persist.entity.Fnrenegrec" />
        <mapping class="org.freedom.persist.entity.Rhcodgps" />
        <mapping class="org.freedom.persist.entity.Crtarefaper" />
        <mapping class="org.freedom.persist.entity.Eqitmodgrade" />
        <mapping class="org.freedom.persist.entity.Critfichaaval" />
        <mapping class="org.freedom.persist.entity.Vditcontrato" />
        <mapping class="org.freedom.persist.entity.Vdregcomisdesc" />
        <mapping class="org.freedom.persist.entity.Atencaminhador" />
        <mapping class="org.freedom.persist.entity.Cpdevolucao" />
        <mapping class="org.freedom.persist.entity.Eqsecao" />
        <mapping class="org.freedom.persist.entity.Vdclicompl" />
        <mapping class="org.freedom.persist.entity.Eqfatconv" />
        <mapping class="org.freedom.persist.entity.Fnbordero" />
        <mapping class="org.freedom.persist.entity.Eqrmaal" />
        <mapping class="org.freedom.persist.entity.Sgestacao" />
        <mapping class="org.freedom.persist.entity.Sguf" />
        <mapping class="org.freedom.persist.entity.Fnparcpag" />
        <mapping class="org.freedom.persist.entity.Eqvargrade" />
        <mapping class="org.freedom.persist.entity.Rhfuncao" />
        <mapping class="org.freedom.persist.entity.Sgferiado" />
        <mapping class="org.freedom.persist.entity.Ppitestruturasubprod" />
        <mapping class="org.freedom.persist.entity.Fncotmoeda" />
        <mapping class="org.freedom.persist.entity.SgsequenceId" />
        <mapping class="org.freedom.persist.entity.Eqtipoexpedicao" />
        <mapping class="org.freedom.persist.entity.Eqinvprod" />
        <mapping class="org.freedom.persist.entity.Vdfotoprod" />
        <mapping class="org.freedom.persist.entity.Sggrauinst" />
        <mapping class="org.freedom.persist.entity.Lffretecompra" />
        <mapping class="org.freedom.persist.entity.Lftipofisccli" />
        <mapping class="org.freedom.persist.entity.Sgtrataret" />
        <mapping class="org.freedom.persist.entity.Vdprevtribitorc" />
        <mapping class="org.freedom.persist.entity.Sgprocesso" />
        <mapping class="org.freedom.persist.entity.Svavaliacao" />
        <mapping class="org.freedom.persist.entity.Lfcsosn" />
        <mapping class="org.freedom.persist.entity.Vditorcamento" />
        <mapping class="org.freedom.persist.entity.Sgsequencia" />
        <mapping class="org.freedom.persist.entity.Crfichaaval" />
        <mapping class="org.freedom.persist.entity.Rhbeneficio" />
        <mapping class="org.freedom.persist.entity.Vditgruporc" />
        <mapping class="org.freedom.persist.entity.Atagenda" />
        <mapping class="org.freedom.persist.entity.Eqrecmerc" />
        <mapping class="org.freedom.persist.entity.Eqmovexp" />
        <mapping class="org.freedom.persist.entity.Sgobjeto" />
        <mapping class="org.freedom.persist.entity.Fnfinalidade" />
        <mapping class="org.freedom.persist.entity.Ppfotomtan" />
        <mapping class="org.freedom.persist.entity.Sgagenda" />
        <mapping class="org.freedom.persist.entity.Cpcotacao" />
        <mapping class="org.freedom.persist.entity.Eqittrocarefprod" />
        <mapping class="org.freedom.persist.entity.Spnatoper" />
        <mapping class="org.freedom.persist.entity.Cpitsolicitacao" />
        <mapping class="org.freedom.persist.entity.Ppopfase" />
        <mapping class="org.freedom.persist.entity.Vdfretevd" />
        <mapping class="org.freedom.persist.entity.Fnittbjuros" />
        <mapping class="org.freedom.persist.entity.Eqalmoxfilial" />
        <mapping class="org.freedom.persist.entity.Pptipoanalise" />
        <mapping class="org.freedom.persist.entity.Fnplanejamento" />
        <mapping class="org.freedom.persist.entity.Cprateio" />
        <mapping class="org.freedom.persist.entity.Fnrazclivw01" />
        <mapping class="org.freedom.persist.entity.Fnfbncli" />
        <mapping class="org.freedom.persist.entity.Tkctoativ" />
        <mapping class="org.freedom.persist.entity.Vdclicontas" />
        <mapping class="org.freedom.persist.entity.Fntipocred" />
        <mapping class="org.freedom.persist.entity.Eqlote" />
        <mapping class="org.freedom.persist.entity.Eqmodgrade" />
        <mapping class="org.freedom.persist.entity.Fnmodboleto" />
        <mapping class="org.freedom.persist.entity.Crtotal" />
        <mapping class="org.freedom.persist.entity.Fnpagtocomi" />
        <mapping class="org.freedom.persist.entity.Eqcodaltprod" />
        <mapping class="org.freedom.persist.entity.Fnbanco" />
        <mapping class="org.freedom.persist.entity.Vdregracomis" />
        <mapping class="org.freedom.persist.entity.Vdclimetavend" />
        <mapping class="org.freedom.persist.entity.Eqtrocarefprod" />
        <mapping class="org.freedom.persist.entity.Lfitcompra" />
        <mapping class="org.freedom.persist.entity.Crqualificacao" />
        <mapping class="org.freedom.persist.entity.Tkcampanhacto" />
        <mapping class="org.freedom.persist.entity.Ppitop" />
        <mapping class="org.freedom.persist.entity.Fnsinal" />
        <mapping class="org.freedom.persist.entity.Svos" />
        <mapping class="org.freedom.persist.entity.Vdtransp" />
        <mapping class="org.freedom.persist.entity.Lfclfiscal" />
        <mapping class="org.freedom.persist.entity.Cpfretecp" />
        <mapping class="org.freedom.persist.entity.Lfncmnbm" />
        <mapping class="org.freedom.persist.entity.Eqprocrecmerc" />
        <mapping class="org.freedom.persist.entity.Tkcontclivw02" />
        <mapping class="org.freedom.persist.entity.Tkcontpessoa" />
        <mapping class="org.freedom.persist.entity.Tkcontclivw01" />
        <mapping class="org.freedom.persist.entity.Tkcontclivw03" />
        <mapping class="org.freedom.persist.entity.Ppdistrib" />
        <mapping class="org.freedom.persist.entity.Vdclisocios" />
        <mapping class="org.freedom.persist.entity.Sgcatimg" />
        <mapping class="org.freedom.persist.entity.Eqitvargrade" />
        <mapping class="org.freedom.persist.entity.Ppestrufase" />
        <mapping class="org.freedom.persist.entity.Sgitprocesso" />
        <mapping class="org.freedom.persist.entity.Eqgrupo" />
        <mapping class="org.freedom.persist.entity.Fnrazforvw01" />
        <mapping class="org.freedom.persist.entity.Fnitmodboleto" />
        <mapping class="org.freedom.persist.entity.Lfitvenda" />
        <mapping class="org.freedom.persist.entity.SgsquidMethod" />
        <mapping class="org.freedom.persist.entity.Sgunifcod" />
        <mapping class="org.freedom.persist.entity.Cpcompraped" />
        <mapping class="org.freedom.persist.entity.Vdkit" />
        <mapping class="org.freedom.persist.entity.Cpitcompraserie" />
        <mapping class="org.freedom.persist.entity.Ppitestrutura" />
        <mapping class="org.freedom.persist.entity.Fnlibcred" />
        <mapping class="org.freedom.persist.entity.Sgprefere4" />
        <mapping class="org.freedom.persist.entity.Sgprefere5" />
        <mapping class="org.freedom.persist.entity.Sgprefere2" />
        <mapping class="org.freedom.persist.entity.Sgprefere3" />
        <mapping class="org.freedom.persist.entity.Sgprefere8" />
        <mapping class="org.freedom.persist.entity.Cphomologfor" />
        <mapping class="org.freedom.persist.entity.Sgprefere6" />
        <mapping class="org.freedom.persist.entity.Eqrecamostragem" />
        <mapping class="org.freedom.persist.entity.Sgprefere7" />
        <mapping class="org.freedom.persist.entity.Eqetiqprod" />
        <mapping class="org.freedom.persist.entity.Atatendimentoorc" />
        <mapping class="org.freedom.persist.entity.Crtipochamado" />
        <mapping class="org.freedom.persist.entity.Pplistaopvw01" />
        <mapping class="org.freedom.persist.entity.Fnlanca" />
        <mapping class="org.freedom.persist.entity.Ppretcp" />
        <mapping class="org.freedom.persist.entity.Lfnatoper" />
        <mapping class="org.freedom.persist.entity.Tksitcamp" />
        <mapping class="org.freedom.persist.entity.Pefalta" />
        <mapping class="org.freedom.persist.entity.Eqitrecmercitositorc" />
        <mapping class="org.freedom.persist.entity.SgsquidAction" />
        <mapping class="org.freedom.persist.entity.Sgprefere1" />
        <mapping class="org.freedom.persist.entity.Eqmovserie" />
        <mapping class="org.freedom.persist.entity.Eqitrma" />
        <mapping class="org.freedom.persist.entity.Atatribuicao" />
        <mapping class="org.freedom.persist.entity.Lfsittrib" />
        <mapping class="org.freedom.persist.entity.Fncontavinculada" />
    </session-factory>
</hibernate-configuration>
