<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
        <property name="hibernate.connection.password">123654</property>
        <property name="hibernate.connection.url">jdbc:firebirdsql:localhost/3050:/opt/firebird/dados/desenv/freedom25.fdb?lc_ctype=ISO8859_1</property>
        <property name="hibernate.connection.username">sysdba</property>
        <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="org/freedom/persist/entity/Sgobjetotb.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdmodcontr.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhnivelcurso.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vwcustoproj01.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkctogrpint.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqlanctoexp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppopitorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sggatilho.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atmodatendo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentoitrec.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgmenu.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnmovimento.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitsolitsol.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppopentrada.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pvcaixa.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcampanha.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdetiqcli.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgacessomg.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgacessomu.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfregrafiscal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fncontausu.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crambienteaval.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgmunicipio.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqprodplan.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnreceber.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnitbordero.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitrecmercitos.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditcontratofor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crmotivofb.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Svitos.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnitrenegrec.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfcalccusto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Attipoatend.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcliente.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqexpedicao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fntbjuros.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhempregador.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpprodfor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/SgsquidHier.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnmoeda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lftrattrib.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclcomis.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cptipofor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fntalaocheq.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpordcompra.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfseqserie.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgestacaobal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkconfemail.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdconsignacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqprodutolog.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcliterra.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fntiporestr.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgpapel.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditcontratoand.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppopcq.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgpais.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditromaneio.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppitretcp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfnbm.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhcandidatocurso.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Mgproduto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhempregadobenef.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgusuario.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pvseqmovcaixa.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdstatusorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdvenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqprevestoqlog.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crpessoa.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitexpedicao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitrecmerc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfncm.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfitnatoper.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Equnidade.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqsaldoprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sglog.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcliimov.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sggrpusu.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdromaneio.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdtef.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgitfluxo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atconvatribtb.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crmarcador.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgmodulo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atespecatend.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqtiporecmerc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcontratovw01.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnsaldolanca.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhexpediente.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhcandidato.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnpagar.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnitfbncodret.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcontcli.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditdetorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lflivrofiscal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnitpagar.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdfincontr.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqrma.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgtarefa.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pptiporec.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkatividade.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fncheque.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfitclfiscal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfitcalccusto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcampanhaemail.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdtipovend.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgproxyweb.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgatribuicao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhturno.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tktipoimp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpcomprasol.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgsistema.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqlocdescarga.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdorcamento.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atconveniado.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppopsubprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkorigcont.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimento.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pebatidalog.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgatribusu.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqalmox.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pprecurso.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgdebug.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqprocexped.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgacessoeu.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgconexao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppestruanalise.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendente.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppop.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vwtmpcustoitrma.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lftabicms.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqexpedamostragem.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitsumsol.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdsetor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcliveic.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcomissao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crtarefa.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhvagacandidato.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgimpressora.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditregracomis.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnfluxocaixavw01.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgittabela.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhcaracteristica.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crfeedback.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendoagenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqprodacesso.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqproduto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcontrorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitordcompra.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fntipocob.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnfbnrec.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgvariavel.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqconfestoqvw01.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tktipocont.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdvendaconsig.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgcnae.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdprazoent.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdlogsitcontr.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpsumsol.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/GttRecursivo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgbairro.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgeqvclifor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppmetodoanalise.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnconta.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpforneced.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditvendaitvenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pvmovcaixa.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcliautp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqsimilar.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqmodlote.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdvendaorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crfichaorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqittrocarplog.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhvagacaracquali.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgfluxo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqserie.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhexpedmes.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Svexecucao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhvagacurso.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqtipoexp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclirefp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentovw08.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentovw07.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentovw06.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentovw05.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atconvatrib.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqguiatraf.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentovw04.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentovw03.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentovw02.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentovw01.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnitreceber.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tksetorcto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclirefc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfservico.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgmenuobj.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgestacaoimp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhcandidatocarac.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclientefor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgagente.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/VwprodPrecoCusto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqclifor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pvsequencia.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdgruporc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdremconsig.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpequivcfop.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitrecmercserie.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fncartcob.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdobscli.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lffrete.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdsetorrota.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crchamado.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpcompralcchave.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnhistpad.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclascli.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitimportacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitcompra.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Attipoatendosetor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpsolicitacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhdepto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crmotivoaval.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdtabpreco.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditcustovenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitsimilar.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atsetoratendente.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppopacaocorret.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppestrutura.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdvendaentrega.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditvenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdcontrato.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cptabfor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditcustoorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhempregadosal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdtipocli.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkhistorico.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhvaga.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgimagem.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rharea.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppprocessaoptmp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqtipomov.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhempregado.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhvagacaracrest.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Necontingencia.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdauxvenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitrecmercitcp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crchamadoanexo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcontato.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdvendacomis.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/SgsquidLog.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhcandidatostatus.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Attipoconv.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditvendaserie.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fncc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditkit.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgtipoagenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpcompra.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sglogcrud.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqmovprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atclasatendo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgitprefere6.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfmoddocfisc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitordcomprape.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atsetor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lffretevenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pvcaixaimp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pvleiturax.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Attipoatendo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgmodetiqueta.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfitregrafiscal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pebatida.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfserie.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhponto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdprecoprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cbcontaext.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpcompravenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnrestricao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgempresa.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnpagcheq.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgestcivil.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdmotorista.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnplanopag.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcampanhacli.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpimportacaoadic.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfmodnota.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vddetorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgfilial.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqsaldolote.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhcandidatofunc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnfbncodret.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhtabelainss.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhvagastatus.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgtabela.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpimportacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhtabelairrf.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdveiculo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfmensagem.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitcompraitcompra.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdvendedor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnsublanca.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqmarca.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditvendavditcontr.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqtipomovusu.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkemail.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpimportacaocompl.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhcurso.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppfase.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnrenegrec.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhcodgps.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crtarefaper.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitmodgrade.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Critfichaaval.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditcontrato.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdregcomisdesc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atencaminhador.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpdevolucao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqsecao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclicompl.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqfatconv.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnbordero.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqrmaal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgestacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sguf.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnparcpag.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqvargrade.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhfuncao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgferiado.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppitestruturasubprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fncotmoeda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/SgsequenceId.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqtipoexpedicao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqinvprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdfotoprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sggrauinst.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lffretecompra.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lftipofisccli.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgtrataret.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdprevtribitorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprocesso.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Svavaliacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfcsosn.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditorcamento.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgsequencia.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crfichaaval.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Rhbeneficio.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vditgruporc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atagenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqrecmerc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqmovexp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgobjeto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnfinalidade.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppfotomtan.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgagenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpcotacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqittrocarefprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Spnatoper.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitsolicitacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppopfase.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdfretevd.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnittbjuros.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqalmoxfilial.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pptipoanalise.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnplanejamento.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cprateio.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnfbncli.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkctoativ.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclicontas.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fntipocred.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqlote.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqmodgrade.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnmodboleto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crtotal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnpagtocomi.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqcodaltprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnbanco.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdregracomis.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclimetavend.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqtrocarefprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfitcompra.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crqualificacao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcampanhacto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppitop.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnsinal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Svos.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdtransp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfclfiscal.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpfretecp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfncmnbm.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqprocrecmerc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcontclivw02.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcontpessoa.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcontclivw01.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tkcontclivw03.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppdistrib.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdclisocios.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgcatimg.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitvargrade.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppestrufase.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgitprocesso.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqgrupo.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnitmodboleto.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfitvenda.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/SgsquidMethod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgunifcod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpcompraped.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Vdkit.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cpitcompraserie.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppitestrutura.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnlibcred.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprefere4.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprefere5.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprefere2.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprefere3.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprefere8.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Cphomologfor.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprefere6.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqrecamostragem.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprefere7.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqetiqprod.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatendimentoorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Crtipochamado.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pplistaopvw01.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fnlanca.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Ppretcp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfnatoper.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Tksitcamp.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Pefalta.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitrecmercitositorc.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/SgsquidAction.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Sgprefere1.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqmovserie.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Eqitrma.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Atatribuicao.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Lfsittrib.hbm.xml" />
        <mapping resource="org/freedom/persist/entity/Fncontavinculada.hbm.xml" />
    </session-factory>
</hibernate-configuration>
