<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>FreedomPCP</string>
	<key>CFBundleIdentifier</key>
	<string>org.freedom.modulos.pcp.FreedomPCP</string>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>freedompcp_128.icns</string>
	<key>Java</key>
	<dict>
		<key>VMOptions</key>
		<string>-DARQINI=/opt/freedom/ini/freedom.ini</string>
		<key>MainClass</key>
		<string>org.freedom.modulos.pcp.FreedomPCP</string>
		<key>JVMVersion</key>
		<string>1.6*</string>
		<key>ClassPath</key>
			<array>
			<string>/opt/freedom/lib/activation-1.1.jar</string>
			<string>/opt/freedom/lib/activation.jar</string>
			<string>/opt/freedom/lib/antlr-2.7.6.jar</string>
			<string>/opt/freedom/lib/apache-mime4j-core-0.7.2.jar</string>
			<string>/opt/freedom/lib/asm-attrs.jar</string>
			<string>/opt/freedom/lib/asm.jar</string>
			<string>/opt/freedom/lib/axiom-api-1.2.13.jar</string>
			<string>/opt/freedom/lib/axiom-dom-1.2.13.jar</string>
			<string>/opt/freedom/lib/axiom-impl-1.2.13.jar</string>
			<string>/opt/freedom/lib/axis.jar</string>
			<string>/opt/freedom/lib/axis2-adb-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-adb-codegen-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-ant-plugin-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-codegen-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-corba-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-java2wsdl-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-jaxws-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-kernel-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-metadata-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-soapmonitor-servlet-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-spring-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-transport-http-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-transport-local-1.6.2.jar</string>
			<string>/opt/freedom/lib/axis2-xmlbeans-1.6.2.jar</string>
			<string>/opt/freedom/lib/barbecue.jar</string>
			<string>/opt/freedom/lib/bizcal.jar</string>
			<string>/opt/freedom/lib/c3p0-0.9.1.jar</string>
			<string>/opt/freedom/lib/cglib-2.1.3.jar</string>
			<string>/opt/freedom/lib/comm.jar</string>
			<string>/opt/freedom/lib/commons-beanutils.jar</string>
			<string>/opt/freedom/lib/commons-cli-1.2.jar</string>
			<string>/opt/freedom/lib/commons-codec-1.3.jar</string>
			<string>/opt/freedom/lib/commons-collections.jar</string>
			<string>/opt/freedom/lib/commons-digester.jar</string>
			<string>/opt/freedom/lib/commons-discovery.jar</string>
			<string>/opt/freedom/lib/commons-httpclient-3.1.jar</string>
			<string>/opt/freedom/lib/commons-lang.jar</string>
			<string>/opt/freedom/lib/commons-logging.jar</string>
			<string>/opt/freedom/lib/derby.jar</string>
			<string>/opt/freedom/lib/derbynet.jar</string>
			<string>/opt/freedom/lib/dom4j.jar</string>
			<string>/opt/freedom/lib/dsgebrazilutils.jar</string>
			<string>/opt/freedom/lib/dsn.jar</string>
			<string>/opt/freedom/lib/ejb3-persistence.jar</string>
			<string>/opt/freedom/lib/freedom.jar</string>
			<string>/opt/freedom/lib/freedomatd.jar</string>
			<string>/opt/freedom/lib/freedomcfg.jar</string>
			<string>/opt/freedom/lib/freedomcrm.jar</string>
			<string>/opt/freedom/lib/freedomecf.jar</string>
			<string>/opt/freedom/lib/freedomfnc.jar</string>
			<string>/opt/freedom/lib/freedomfw1.jar</string>
			<string>/opt/freedom/lib/freedomgms.jar</string>
			<string>/opt/freedom/lib/freedomgpe.jar</string>
			<string>/opt/freedom/lib/freedomgrh.jar</string>
			<string>/opt/freedom/lib/freedominfra.jar</string>
			<string>/opt/freedom/lib/freedomlvf.jar</string>
			<string>/opt/freedom/lib/freedomnfe.jar</string>
			<string>/opt/freedom/lib/freedompcp.jar</string>
			<string>/opt/freedom/lib/freedompdv.jar</string>
			<string>/opt/freedom/lib/freedomrep.jar</string>
			<string>/opt/freedom/lib/freedomstd.jar</string>
			<string>/opt/freedom/lib/groovy.jar</string>
			<string>/opt/freedom/lib/hibernate-annotations.jar</string>
			<string>/opt/freedom/lib/hibernate-commons-annotations.jar</string>
			<string>/opt/freedom/lib/hibernate-entitymanager.jar</string>
			<string>/opt/freedom/lib/hibernate3.jar</string>
			<string>/opt/freedom/lib/httpclient-4.2.jar</string>
			<string>/opt/freedom/lib/httpcore-4.2.jar</string>
			<string>/opt/freedom/lib/httpmime-4.2.jar</string>
			<string>/opt/freedom/lib/ical4j.jar</string>
			<string>/opt/freedom/lib/ilf-gpl.jar</string>
			<string>/opt/freedom/lib/imap.jar</string>
			<string>/opt/freedom/lib/ireport.jar</string>
			<string>/opt/freedom/lib/itext.jar</string>
			<string>/opt/freedom/lib/jasperreports-fonts.jar</string>
			<string>/opt/freedom/lib/jasperreports.jar</string>
			<string>/opt/freedom/lib/jaxb-api-2.1.jar</string>
			<string>/opt/freedom/lib/jaxb-impl-2.1.7.jar</string>
			<string>/opt/freedom/lib/jaxb-xjc-2.1.7.jar</string>
			<string>/opt/freedom/lib/jaxrpc.jar</string>
			<string>/opt/freedom/lib/jaxws-tools-2.1.3.jar</string>
			<string>/opt/freedom/lib/jaybird-full.jar</string>
			<string>/opt/freedom/lib/jcalendar.jar</string>
			<string>/opt/freedom/lib/jclisitef.jar</string>
			<string>/opt/freedom/lib/jcommon.jar</string>
			<string>/opt/freedom/lib/jdt-compiler.jar</string>
			<string>/opt/freedom/lib/jfreechart.jar</string>
			<string>/opt/freedom/lib/jmf.jar</string>
			<string>/opt/freedom/lib/jta.jar</string>
			<string>/opt/freedom/lib/junit.jar</string>
			<string>/opt/freedom/lib/jxls-core-1.0.1.jar</string>
			<string>/opt/freedom/lib/jxls-reader-1.0.1.jar</string>
			<string>/opt/freedom/lib/LibSiTef.jar</string>
			<string>/opt/freedom/lib/liquidlnf.jar</string>
			<string>/opt/freedom/lib/log4j-1.2.15.jar</string>
			<string>/opt/freedom/lib/log4j.jar</string>
			<string>/opt/freedom/lib/mail.jar</string>
			<string>/opt/freedom/lib/mailapi.jar</string>
			<string>/opt/freedom/lib/metouia.jar</string>
			<string>/opt/freedom/lib/mp3plugin.jar</string>
			<string>/opt/freedom/lib/nachocalendar.jar</string>
			<string>/opt/freedom/lib/neethi-3.0.2.jar</string>
			<string>/opt/freedom/lib/poi-3.9-20121203.jar</string>
			<string>/opt/freedom/lib/poi-contrib-3.5-final.jar</string>
			<string>/opt/freedom/lib/poi-ooxml-3.9-20121203.jar</string>
			<string>/opt/freedom/lib/poi-ooxml-schemas-3.9-20121203.jar</string>
			<string>/opt/freedom/lib/poi.jar</string>
			<string>/opt/freedom/lib/pop3.jar</string>
			<string>/opt/freedom/lib/saaj.jar</string>
			<string>/opt/freedom/lib/santec.jar</string>
			<string>/opt/freedom/lib/smtp.jar</string>
			<string>/opt/freedom/lib/squareness.jar</string>
			<string>/opt/freedom/lib/stpnfe.jar</string>
			<string>/opt/freedom/lib/swingx-ws.jar</string>
			<string>/opt/freedom/lib/swingx.jar</string>
			<string>/opt/freedom/lib/TableLayout.jar</string>
			<string>/opt/freedom/lib/tinylaf.jar</string>
			<string>/opt/freedom/lib/wsdl4j-1.6.2.jar</string>
			<string>/opt/freedom/lib/wstx-asl-3.2.9.jar</string>
			<string>/opt/freedom/lib/xalan-2.7.0.jar</string>
			<string>/opt/freedom/lib/xercesImpl.jar</string>
			<string>/opt/freedom/lib/xml-apis.jar</string>
			<string>/opt/freedom/lib/xml-resolver-1.2.jar</string>
			<string>/opt/freedom/lib/xmlbeans-2.3.0.jar</string>
			<string>/opt/freedom/lib/XmlSchema-1.4.7.jar</string>
			</array>
	</dict>
</dict>
</plist>
